/* Подключение шрифта Lora */
@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

/* Подключение шрифта Open Sans */
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

/* Сброс базовых стилей */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
	color: #D5C9BE;
	background-color: #282829;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container{
	margin: 0% 5%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

input, button, textarea, select {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	outline: none;
}

button {
	cursor: pointer;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

input[type="checkbox"],
input[type="radio"] {
	position: relative;
	width: auto;
	margin-right: .2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	text-align: left;
}

.main-button{
	background-color: #D5C9BE;
	color: #333;
	padding: 20px 20px;
	font-weight: 700;
	transition: all .2s ease;
	border-radius: 5px;
}

.main-button:hover{
	background-color: #c3b5a8;
}

.text-line{
	width: 100%;
	height: 1px;
	background-color: #6a6a6a;
}

@media (max-width: 890px) {
	html {
			font-size: 16px;
	}
}